*{
    margin: 0;
}

html, body{
    height: 100%;
}

body{
    background-color: #ff9800;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #525558;
    padding: 10px;
    
}



nav a:visited, nav a:link{
    color:white;
    text-decoration: none;
}

nav > ul {
    display: inline;
    padding: 0;
    font-weight: bold;
    
}

nav > ul > li {
    display: inline-block;
    list-style: none; 
    margin: 0 5px 0 5px;
    color: white;
    
}

main {
    display: block;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;

}

h1 {
    padding-bottom: 20px;
    
}

footer {
    padding: 15px;
    background-color: #525558;
    text-align: center;

}

aside, article{
    padding: 2em;
}

aside {
    text-align: center;
}

article {
    width: 75%;
    background-color: white;
    border-radius: 5px;
    margin: 1%;
}

@media only screen and (min-width: 768px) {

    main{
        display: flex;
    }

    aside{
        margin-left: 2%;
    }

    article{
        margin: 0 auto;
    }

    
}

.logo {

    max-height: 70%;
    max-width: 70%;

}

